.forgotPass::before {
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  color: white;
  background: #010927;
  opacity: 0.9;
  z-index: -100;
}

.forgotPass {
  width: 100%;
  height: 85vh;
  background-image: url(../../../Assets/loginBg.webp);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  position: relative;
  z-index: 200;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;
  .loginLogo {
    a {
      display: flex;
      align-items: center;
      margin-top: 30px;
      margin-bottom: 30px;
      text-decoration: none;
      color: white;

      img {
        margin-right: 15px;
      }
    }
  }
  .forgotPassContainer {
    width: 32%;
    height: 200px;
    background: rgba($color: #000000, $alpha: 0.3);
    border-radius: 5px;
    margin-top: 30px;
    text-align: center;
    .loginHeader {
      width: 170px;
      height: 50px;
      background-image: url(../../../Assets/svg/loginBg.svg);
      background-repeat: no-repeat;
      background-size: 100% 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: auto;
      margin-top: -15px;
      h4 {
        margin-top: -10px;
        font-weight: 500;
      }
    }
    p {
      font-size: 14px;
      margin-top: 20px;
      margin-bottom: 25px;
      span {
        a {
          color: #3e8bff;
          text-decoration: none;
        }
      }
    }
    .loginInput {
      width: 80%;
      height: 35px;
      display: flex;
      align-items: center;
      border-radius: 5px;
      border: 1px solid lightgray;
      background: rgba($color: #ffffff, $alpha: 0.2);
      margin: auto;
      margin-top: 15px;
      input {
        border: none;
        outline: none;
        background: none;
        height: 35px;
        width: 70%;
        color: white;
      }
      input::placeholder {
        color: white;
      }
      .MuiSvgIcon-root {
        color: gray;
        margin: 0 15px;
      }
    }
    button {
      margin: auto;
      width: 80%;
      height: 35px;
      margin-top: 15px;
      img {
        display: none;
      }
    }
    .loginWith {
      width: 35%;
      height: auto;
      display: flex;
      align-items: center;
      justify-content: space-around;
      margin: auto;
      .loginApp {
        height: 45px;
        width: 45px;
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: 0.4s linear;
        background: rgba($color: #000000, $alpha: 0.4);
        img {
          height: 20px;
          object-fit: contain;
        }
      }
      .loginApp:hover {
        cursor: pointer;
        background: rgba($color: #ffffff, $alpha: 0.2);
      }
    }
  }
}

/* XS Devices */
@media (max-width: 575px) {
  .forgotPass {
    height: 100vh;
    .loginHeader {
      margin-top: 15%;
    }
    .forgotPassContainer {
      width: 95%;
    }
  }
}

/* SM Devices */
@media (min-width: 576px) and (max-width: 767px) {
}

/* MD Devices */
@media (min-width: 768px) and (max-width: 990px) {
  .forgotPass {
    .forgotPassContainer {
      width: 50%;
    }
  }
}

/* LG Devices */
@media (min-width: 992px) and (max-width: 1199px) {
}

/* XL Devices */
@media (min-width: 1200px) {
}
