.tshirtDescription {
  width: 80%;
  height: 70px;
  border-bottom: 1px solid lightgray;
  margin: auto;
  margin-top: -10%;
  margin-bottom: 5%;
  div {
    width: 30%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    button {
      height: 100%;
      border: none;
      background: none;
      outline: none;
      font-size: 17px;
      &:focus {
        border-bottom: 1px solid blue;
      }
    }
  }
}

.descriptionThings {
  width: 80%;
  height: auto;
  margin: auto;
  margin-top: -3%;
  p {
    width: 95%;
    line-height: 24px;
    margin-bottom: 50px;
  }
  ul {
    list-style: none;
    li {
      padding: 3px;
    }
  }
  img {
    height: 200px;
    object-fit: contain;
    margin-bottom: 2%;
  }
  h4 {
    text-align: center;
    margin-bottom: 2%;
    font-weight: normal;
    span {
      color: blue;
    }
  }
}

/* XS Devices */
@media (max-width: 575px) {
  .tshirtDescription {
    width: 100%;
    div {
      width: 95%;
      margin: auto;
      margin-top: 25%;
    }
  }
  .descriptionThings {
    img {
      height: 100px;
      margin-left: -5%;
    }
  }
}

/* SM Devices */
@media (min-width: 576px) and (max-width: 767px) {
  .tshirtDescription {
    width: 100%;
    div {
      width: 95%;
      margin: auto;
      margin-top: 25%;
    }
  }
  .descriptionThings {
    img {
      height: 100px;
      margin-left: -5%;
    }
  }
}

/* MD Devices */
@media (min-width: 768px) and (max-width: 990px) {
  .tshirtDescription {
    width: 90%;
    div {
      width: 45%;
      margin-top: 15%;
    }
  }
}

/* LG Devices */
@media (min-width: 992px) and (max-width: 1199px) {
  .tshirtDescription {
    width: 90%;
    div {
      width: 45%;
      margin-top: 15%;
    }
  }
}

/* XL Devices */
@media (min-width: 1200px) {
}
