.cartOrder {
  width: 90%;
  height: auto;
  margin: auto;
  color: white;
  background: rgba($color: #000000, $alpha: 0.5);
  padding-bottom: 40px;
  margin-bottom: 3%;
  border-radius: 10px;
  .cartOrder__header {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    border-radius: 10px 10px 0 0;
    background: rgba($color: #fff, $alpha: 0.1);
    h3 {
      margin-left: 5%;
      font-weight: 400;
    }
  }
  .orderProduct {
    width: 79%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 40px;
    border-bottom: 1px solid gray;
    margin: auto;

    div {
      h4 {
        font-size: 14px;
        margin-bottom: 5px;
        font-weight: 500;
      }
      p {
        color: lightgray;
      }
    }
  }
  .productCoupon {
    width: 79%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 10px 40px;
    border-bottom: 1px solid gray;
    margin: auto;

    .couponInput {
      width: 100%;
      height: 45px;
      background: rgba($color: #fff, $alpha: 0.2);
      border-radius: 5px;
      border: 1px solid white;
      display: flex;
      align-items: center;
      input {
        margin: 0 15px;
        background: none;
        outline: none;
        border: none;
        height: 80%;
        flex: 1;
        color: white;
      }
      input::placeholder {
        color: gray;
      }
      button {
        width: 100px;
        height: 45px;
        img {
          display: none;
        }
      }
    }
  }
  .cartOtherThings {
    width: 79%;
    height: auto;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 10px 40px;

    margin: auto;

    ul {
      list-style: none;
      margin-top: 20px;
      width: 100%;
      li {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 20px;
      }
    }
    button {
      width: 100%;
      height: 45px;
      margin: 15px 0;
      img {
        display: none;
      }
    }
    p {
      font-size: 11px;
      span {
        color: #3e8bff;
      }
    }
  }
}
.privacy {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto;
  margin-bottom: 7%;
  p {
    font-size: 16px;
    color: #3e8bff;
  }
}
